<mat-toolbar color="primary">
  <span><a routerLink="">My Blog</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/create">New Post</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/signup">Signup</a>
    </li>
    <li *ngIf="userAuthenticated">
      <button (click)="onLogout()" mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
