<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" ngModel #title="ngModel" name="title" minlength="3" required>
    <mat-error *ngIf="title.invalid">Please Enter Title</mat-error>
  </mat-form-field>
<mat-form-field>
  <textarea matInput ngModel ngModel #content="ngModel" name="content" required></textarea>
  <mat-error *ngIf="content.invalid">Please Enter the content</mat-error>
</mat-form-field>
<button mat-raised-button type="submit" color = "primary">Save Post</button>
</form>
</mat-card>
