<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form  [formGroup]="form" (submit) = "onAddPost()" *ngIf="!isLoading">
  <mat-form-field>
    <input matInput [formControlName]="'title'" type="text" name="title">
    <mat-error *ngIf="form.controls['title'].invalid">Please Enter Title</mat-error>
  </mat-form-field>
  <div>
    <button mat-stroked-button (click)="fileUpload.click()" type="button">Upload Image</button>
    <input type="file" #fileUpload hidden (change) = "onImagePick($event)">
  </div>
  <div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview && form.controls['image'].valid">
    <img [src]="imagePreview" [alt] = "form.value.title">
  </div>
<mat-form-field>
  <textarea matInput formControlName="content" name="content" ></textarea>
  <mat-error *ngIf="form.controls['content'].invalid">Please Enter the content</mat-error>
</mat-form-field>
<button mat-raised-button type="submit" color = "primary">Save Post</button>
</form>
</mat-card>
